:root {
    --primary: rgba(71, 0, 153, 0.6);
    --secondary: rgba(252, 195, 7, 0.65);
}

body {
    background-image: linear-gradient(to top, var(--primary), var(--secondary)), url(dnastrand.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-bar {
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    margin: 1rem;
}

.lines {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-1 {
    border-bottom: 2px solid purple;
    width: 1.2rem;
    transform: rotate(-15deg);
    margin-right: -2px;
}

.line-2 {
    border-bottom: 2px solid purple;
    width: 1.2rem;
    transform: rotate(15deg);
}

#House-logo{
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-top: 2px;
    font-size: 1rem;
    color: purple;
}

.gene-logo {
    font-style: italic;
    color: #ffcb3e;
    font-size: 2rem;
    padding: 0;
}

.nav-li ul {
    display: flex;
}

.nav-li li {
    list-style: none;
}

.nav-li li a {
    text-decoration: none;
    color: #ffcb3e;
    display: block;
    padding: .6rem;
    margin-right: 1.5rem;
    border-radius: 1rem;
}

.nav-li li a:hover {
    background-color: purple;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin:auto;
}

.banner h2 {
    font-size: 1.5rem;
    text-align: center;
    color: #03f4ff;
    text-shadow: #03f4ff 0px 0px 2px;
}

#aim-p {
    font-size: 1.1rem;
    color: #03f4ff;
    text-shadow: purple 0px 0px 20px;
    margin-block-start: 5px;
}

#purpose-p {
    font-size: 1.1rem;
    color: #03f4ff;
    text-shadow: purple 0px 0px 20px;
    margin-block-start: 5px;
}

.line-break {
    justify-content: center;
    align-items: center;
    margin: auto;
    border-bottom: 2px solid #03f4ff;
    width: 60%;
    padding: 0.5rem;
    margin-block-end: 15px;
}

.what-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin:auto;
    margin-block-start: 5px;
}

.what-content h2 {
    font-size: 1.3rem;
    color: #03f4ff;
    text-shadow: purple 0px 0px 20px;
    margin-block-start: 5px;
}

.what-content p {
    font-size: 1.1rem;
    color: #03f4ff;
    text-shadow: purple 0px 0px 20px;
    margin-block-start: 5px;
}

.img-what-content {
    background-image: url(backyard-img.jpg);
    background-size: cover;
    min-height: 200px;
    width: 70%;
    border: 4px solid #ffcb3e;
    margin: auto;
}
.img-what-content:hover {
    display: block;
}

.event-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.event-content h2 {
    font-size: 1.3rem;
    color: #03f4ff;
    text-shadow: purple 0px 0px 20px;
    margin-block-start: 5px;
}

.event-content p {
    font-size: 1rem;
    color: #03f4ff;
    text-shadow: purple 0px 0px 20px;
    margin-block-start: 5px;
}

.activities-content {
    margin: auto;
    width: 90%;
}

.activities-content h2 {
    text-align: center;
    border-bottom: 2px solid #ffcb3e;
    margin: auto;
    width: 25ch;
    margin-block-end: 2ch;
    font-size: 1.3rem;
    color: #03f4ff;
    text-shadow: purple 0px 0px 20px;
    width: 80%;
}

.hourTopic h3, p {
    text-align: center;
    margin: auto;
}
.hourTopic h3 {
    border: 2px solid #ffcb3e;
    border-radius: 70%;
    width: 20%;
    font-size: 1.2rem;
    color: #03f4ff;
    text-shadow: purple 0px 0px 20px;
}

.hourTopic p {
    font-size: 1.1rem;
    color: #03f4ff;
    text-shadow: purple 0px 0px 20px;
}
.hourTopic li {
    font-size: 1.1rem;
    color: #03f4ff;
    text-shadow: purple 0px 0px 20px;
}

.hourTopic {
    border: 2px solid #ffcb3e;
    padding: 10px;
    margin: 10px;
}

.content-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-size: 1.1rem;
    color: #03f4ff;
    text-shadow: purple 0px 0px 20px;
    margin-block-end: 2rem;
}

.budget-flex {
    width: 70%;
    margin: auto;
    align-items: center;
    color: #03f4ff;
    text-shadow: purple 0px 0px 20px;
    font-size: 1.1rem;
}

.budget-container h2 {
    font-size: 1.3rem;
    color: #03f4ff;
    text-shadow: purple 0px 0px 20px;
    margin: auto;
    align-items: center;
}

#Budgetword {
    font-size: 1.3rem;
    color: #03f4ff;
    display: flex;
    justify-content: center;
    text-shadow: purple 0px 0px 20px;
    align-items: center;
    border: 2px solid #ffcb3e;
    border-radius: 70%;
    width: 20%;
}

.box {
    display: flex;
    margin: auto;
    background-color: rgba(71, 0, 153, 0.6);
    min-height: 400px;
    flex-direction: column;
    border-radius: 20%;
    width: 90%;
}

.box div {
    margin: auto;
    color: #03f4ff;
}

.abt {
    margin: auto;
    background-color: rgba(71, 0, 153, 0.6);
    min-height: 500px;
    border-radius: 20%;
    width: 90%;
}

.abt-abt {
    margin: auto;
    width: 50%;
    padding: 20px;
}

.abt-abt li {
    margin-inline-start: 20%;
}

.abt h2, p, li{
    color: #03f4ff;
}

.abt h2{
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;
}
.abt-abt p{
    font-size: 1.3rem;
}
@media (min-width: 35em) {
    .nav-logo {
        margin: 1rem;
    }
    .nav-li {
        margin-right: 20%;
    }
    .nav-li li a {
        margin-left: 1.5rem;
    }
    .banner {
        width: 50%;
    }
    .banner h2 {
        font-size: 2rem;
    }
    .banner p {
        font-size: 1.2rem;
    }
    .what-content {
        width: 70%;
        display: flex;
        flex-direction: row;
    }
    .what-content h2 {
        text-shadow: purple 0px 0px 15px;
        font-size: 1.3rem;
        margin-block-end: 10px;
        justify-content: center;
        display: flex;
    }
    .what-content p {
        font-size: 1.2rem;
        color: #03f4ff;
        text-shadow: purple 0px 0px 20px;
        margin-block-start: 5px;
    }
    .what-content-text {
        width: 80%;
    }
    .line-break {
        width: 40%;
    }
    .img-what-content {
        min-height: 200px;
        width: 30%;
        border: 4px solid #ffcb3e;
    }
    .event-content h2 {
        font-size: 1.3rem;
    }
    .event-content p {
        font-size: 1.2rem;
    }
    #hours-topic {
        column-gap: 20px;
        display: flex;
        margin: auto;
        justify-content: center;
        width: 70%;
    }
    #hours-topic > * {
        flex: 1;
    }
    .hourTopic h3 {
        width: 40%;
    }
    .hourTopic {
        border: none;
        padding: 0;
        margin: 0;
    }
    .budget-flex > * {
        flex: 1;
    }
    .budget-flex {
        display: flex;
        width: 70%;
    }
    .box {
        width: 50%;
    }
    .abt {
        width: 50%;
    }
    .abt-abt li {
        margin-inline-start: 30%;
    }
}